@use "colors" as *;
// Core construction
* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1em;
}
// Layout
body {
    background-color: $color5;
}

// Nav
nav {
    height: 7vh;
    background-color: $color2;
}

// Header
header {
    margin: 0;
    height: 93vh;
    background-color: $color1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(to left, $color7, $color1);

    #top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3rem;
            text-align: center;
        }

        @media screen and (min-width: 420px) {
            flex-direction: row;
        }
    }

    #middle {
        display: flex;
        flex-direction: column;
        align-items: space;

        p {
            margin: auto;
            width: 80%;
        }
    }

    #bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    ul {
        background-color: $color1;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 3rem;
            margin: auto;
            background: $color2;
            border: 5px solid $color8;
            transition: 0.75s;
        }

        li:hover {
            background-color: $color6;
        }

        @media screen and (min-width: 420px) {
            li {
                width: 33.3%
            }
        }
    }
}

header img {
    margin: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: green;
    transition: transform 0.75s;
    color: black;
}
header img:hover {
    transform: scale(1.2);
}

// Main
main {
    background-color: $color3;

    section {
        height: 120vh;
        padding: 1rem;
    }

    #one {
        background-color: $color3;
    }

    #two {
        background-color: $color5;
    }

    #three {
        background-color: $color7;
    }
}

// Footer
footer {
    background-color: $color8;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

