/* Posts Section */

#allposts {
	display: block;
	margin: auto;
	overflow: hidden;
	width: 69%;
	/* Color Edits */
	background-color: ;
	color: white;
}

/* Post */

#post {
	display: block;
	padding-top: 1 px;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 2%;
	overflow: hidden;
	width: ;
	margin: auto;
	margin-bottom: 2rem;
	/* Text Format */
	font-family: ;
	font-size: 1.3rem;
	/* Color Edits */
	background-color: #F0FFFF99;
	color: black;
	border: 3px solid black;
}

#post h1 {
	font-family: ;
	font-size: 2.1rem;
	color: black;
}

#post h2,#post h3,#post h4,#post h5,#post h6 {
	font-family: ;
	text-align: left;
	text-indent: 6%;
	/* Color Edits */
	background-color: ;
	color: ;
}

#post p {
	line-height: 2;
	text-align: left;
	text-indent: 12%;
	/* Color Edits */
	background-color; ;
	color: ;
}

#post img {
	max-width: 90%;
	max-height: 75vh;
}

#post ul {
  text-align: left;
  margin-left: 6%;
  line-height: 2;
}

	/* Image Tags */

div.imgtag img {
  width: 100%;
  height: auto;
}

div.imgdesc {
  padding: 1px;
  text-align: left;
  font-size: x-small;
  line-height: 1;
  color: black;
}

div.imgtag {
  display: block;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
  margin: 10px;
}